body {
  background: -webkit-linear-gradient(#ff0000, #0000ff);
  background: -o-linear-gradient(#ff0000, #0000ff);
  background: -moz-linear-gradient(#ff0000, #0000ff);
  background: linear-gradient(#d593ff, #901cef 15%, #9215f2 30%);
}
body header div #logo-container,
body header div #reg-form-container {
  display: inline-block;
}
body header div #reg-form-container {
  margin-left: 40em;
}
body header div #reg-form-container form div input {
  margin-top: 0.8em;
  background-color: #b35ef3;
  border: 1px solid #603382;
  border-radius: 12px;
}
body header div #reg-form-container form div label {
  color: #ffffff;
}
body header div #reg-form-container form button {
  background-color: #b35ef3;
  border-radius: 6px;
  border-width: 1px;
  color: #ffffff;
}
body nav ul {
  width: 55em;
  padding: 0.6em;
  list-style: none;
  position: relative;
  display: inline-table;
  border: 1px solid #000000;
  border-radius: 12px;
}
body nav ul li {
  float: left;
  margin: 0.4em;
}
body nav ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}
body nav ul li:hover > ul {
  display: block;
}
body nav ul ul {
  width: 10em;
  display: none;
  position: absolute;
  background-color: #901cef;
}
body nav ul ul li {
  float: none;
  position: relative;
}
body nav ul:after {
  content: "";
  clear: both;
  display: block;
}
body section {
  display: inline-block;
}
body section article {
  width: 50em;
  margin: 0.6em;
  margin-right: 0;
  padding: 1em;
  border: 1px solid #000000;
  color: #ffffff;
  border-radius: 12px;
}
body section article footer p {
  text-align: right;
}
body section article footer a {
  color: #d0a3f8;
  text-decoration: none;
}
body aside > ul > li {
  width: 20em;
  margin: 0.6em;
  margin-left: 0;
  padding: 0.6em;
  border: 1px solid #000000;
  border-radius: 6px;
  color: #ffffff;
}
body aside {
  position: relative;
  float: right;
}
body aside ul {
  list-style-type: none;
}
body aside ul ul {
  list-style-image: url('../images/li-dot.png');
}
body aside ul a {
  color: #a8aab4;
  text-decoration: none;
}
body footer p {
  color: #ffffff;
  text-align: center;
}
