html body div ul li a h1 p table thead tbody tr th td {
  margin: 0;
  padding: 0;
}
body {
  width: 960px;
  font-family: Courier New, Courier, Nimbus Mono L, monospace;
  font-size: 16px;
}
body div ul {
  display: inline-block;
  list-style-type: none;
}
body div ul li.current div {
  display: block;
}
body div ul li {
  background-color: #aaaaaa;
  border: 1px solid #000;
}
body div ul li a {
  padding: 0 190px;
  background-color: #0f0;
  background: -webkit-linear-gradient(top, #eeeeee 25%, #aaaaaa 75%);
  background: -moz-linear-gradient(top, #eeeeee 25%, #aaaaaa 75%);
  background: linear-gradient(top, #eeeeee 25%, #aaaaaa 75%);
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
body div ul li a:hover {
  background: #aaaaaa;
}
body div ul li div {
  padding: 10px;
  width: 430px;
  display: none;
}
body div ul li div h1 {
  margin: 0;
  text-align: center;
}
body div ul li div p {
  margin: 0;
  text-align: justify;
}
body div ul li div table {
  margin: auto;
  border-collapse: collapse;
}
body div ul li div table th,
body div ul li div table td {
  background: -webkit-linear-gradient(top, #eeeeee 25%, #aaaaaa 75%);
  background: linear-gradient(top, #eeeeee 25%, #aaaaaa 75%);
  border: 1px solid #000;
  padding: 5px;
}
body div ul li div table td {
  color: #fff;
}
