html,
body,
div,
ul,
li,
img,
span,
a {
  margin: 0;
  padding: 0;
}
body #wrapper {
  margin: 25px;
  width: 960px;
  font-family: Constantina, Georgia, 'Nimbus Roman No9 L', serif;
  font-size: 16px;
}
body #wrapper > div {
  display: inline-block;
  background-color: #cccccc;
  border-radius: 5px;
}
body #wrapper > div:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
}
body #wrapper > div div {
  margin: 10px;
}
body #wrapper > div div > img {
  border-radius: 5px;
}
body #wrapper > div div.holder {
  float: left;
}
body #wrapper > div div.playlist ul {
  list-style-type: none;
  margin-left: 490px;
}
body #wrapper > div div.playlist ul li {
  display: block;
  border-bottom: 1px solid #000;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  margin: 5px 0;
  padding-bottom: 5px;
  line-height: 0.6em;
  letter-spacing: 0.01em;
}
body #wrapper > div div.playlist ul li img {
  display: block;
  position: relative;
  left: 15px;
  border-radius: 10px;
}
body #wrapper > div div.playlist ul li a {
  color: #000;
  text-decoration: none;
}
